:root {
	--color-light-xl: rgb(255, 255, 255);
	--color-light-l: rgb(246, 246, 246);
	--color-light-s: rgb(250, 250, 250);
	--color-dark-s: rgb(205, 205, 205);
	--color-dark-m: rgb(178, 178, 178);
	--color-dark-l: rgb(84, 84, 84);
	--color-dark-xl: rgb(76, 76, 76);
	--color-dark-2xl: rgb(68, 68, 68);
	--color-dark-3xl: rgb(41, 41, 41);
	--color-primary: rgb(241, 205, 179);
	--color-primary-light: rgb(253, 220, 196);
	--font-family: "Georgia", sans-serif;
	--second-family: "Arial", sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	background: var(--color-light-xl);
	min-height: 100vh;
    display: flex;
    flex-direction: column;
}

section,
header,
footer {
	max-width: 1200px;
	margin: 0 auto;
}

/* Header */
header {
	font-size: 2em;
    padding: 10px 10px 30px 10px;
	color: white;
	text-align: center;
}

.header-wrapper, .footer-wrapper {
	background-color: rgb(95, 158, 160);
}

/* Section */
.section-wrapper {
	margin: auto;
}

.main-content {
    background-repeat: no-repeat;
    background-size: contain;
	display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
	border-radius: 1em;
}

.image-gallery {
	gap: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.image-gallery .img {
	width: 300px;
	height: 220px;
	background-position: center;
	background-size: cover;
	cursor: pointer;
}



/* Footer */
.footer {
	font-size: .8em;	
	padding: 15px 10px 30px 10px;
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer a, .footer div  {
	font-family: var(--font-family);
	color: var(--color-light-xl);	
}

.footer a:hover {
	color: rgb(179, 47, 47);	
}

.rss-logo {
	width: 5em;
}

.rss-link {
	display: flex;
    align-items: center;
	height: 5em;
	text-align: left;
	vertical-align: middle;
}
