:root {
	--color-light: rgb(255, 255, 255);
	--color-red: rgb(255, 0, 0);
	--color-blue: rgb(95, 158, 160);
	--font-family: "Georgia", sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
    display: flex;
    flex-direction: column;
	font-family: var(--font-family);
	background: var(--color-light);
}

section,
header,
footer {
	max-width: 1200px;
	margin: 0 auto;
}

/* Header */
header {
	font-size: 2em;
    padding: 10px 10px 30px 10px;
	color: var(--color-light);
	text-align: center;
}

.header-wrapper, .footer-wrapper {
	background-color: var(--color-blue);
}

/* Section */
.section-wrapper {
	margin: 0 auto;
}

.main-content {
    background-repeat: no-repeat;
    background-size: contain;
	display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
	border-radius: 1em;
}

.controls {
	margin: 1em;
    display: flex;
	justify-content: flex-end;
    align-items: center;
}

.search-input {
	width: 100%;
    max-width: 25em;
    height: 2em;
	border-radius: 1em;
	font-family: var(--font-family);
}

.clear-button, .search-button {
	border: none;
    height: 2em;
    width: 2em;
	opacity: 0.5;
	background-size: contain;
	background-color: var(--color-light);
	background-repeat: no-repeat;
	background-position: center;
}

.clear-button {
	background-image: url(../assets/icon/delete.svg);
}

.search-button {
	margin-left: -5em;
	background-image: url(../assets/icon/search.svg);
}

.count-select {
	margin-left: 2em;
    height: 2em;
	border-radius: 1em;
}

.image-gallery {
	gap: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.image-gallery .img {
	width: 300px;
	height: 220px;
	background-position: center;
	background-size: cover;
	cursor: pointer;
}

.error-handler {
	display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 5em;
}

.error-message {
	color: var(--color-red);
}

/* Footer */
.footer {
	font-size: .8em;	
	padding: 15px 10px 30px 10px;
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-wrapper {
	margin-top: auto;
}

.footer a, .footer div  {
	font-family: var(--font-family);
	color: var(--color-light);	
}

.footer a:hover {
	color: rgb(179, 47, 47);	
}

.rss-logo {
	width: 5em;
}

.rss-link {
	display: flex;
    align-items: center;
	height: 5em;
	text-align: left;
	vertical-align: middle;
}

/* Interactions */
button:hover, .count-select:hover {
	cursor: pointer;
	opacity: 1;
}