:root {
	--color-light-xl: rgb(255, 255, 255);
	--color-light-l: rgb(246, 246, 246);
	--color-light-s: rgb(250, 250, 250);
	--color-dark-s: rgb(205, 205, 205);
	--color-dark-m: rgb(178, 178, 178);
	--color-dark-l: rgb(84, 84, 84);
	--color-dark-xl: rgb(76, 76, 76);
	--color-dark-2xl: rgb(68, 68, 68);
	--color-dark-3xl: rgb(41, 41, 41);
	--color-primary: rgb(241, 205, 179);
	--color-primary-light: rgb(253, 220, 196);

	--font-family: "Georgia", sans-serif;
	--second-family: "Arial", sans-serif;
	--third-family: "Inter", sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	background: var(--color-light-xl);
}

section,
footer {
	max-width: 1200px;
	margin: 0 auto;
	padding-right: 40px;
	padding-left: 40px;
}

.button-primary {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 15px 45px;
	border-radius: 100px;
	border-width: 0px;
	background: var(--color-primary);
}

.button-primary {
	color: var(--color-dark-3xl);
	font-family: var(--font-family);
	font-size: 17px;
	font-weight: 400;
	line-height: 130%;
	letter-spacing: 0.06em;
	text-align: left;
}

h3 {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: var(--color-dark-l);
	text-align: center;
}

/* Interactions */

body,
.header-nav li.active-tab a:hover,
.header-nav li.active-tab a:active,
.header-nav li.active-tab:hover,
.header-nav li.active-tab:active {
	cursor: url(../images/icons/normal-cursor.svg), pointer !important;
}

button:hover,
button:active,
.header-nav li:not(.active-tab) a:hover,
.header-nav li:not(.active-tab) a:active,
.header-nav li:not(.active-tab):hover,
.header-nav li:not(.active-tab):active,
.footer-content-block .footer-content-block-item-wrapper:hover,
.credit-card:hover {
	cursor: url(../images/icons/hover-cursor.svg), pointer !important;
}

.paginator .inactive:hover {
	cursor: url(../images/icons/inactive-cursor.svg), pointer !important;
}

button,
.slide,
.header-logo,
.footer-content-block .footer-content-block-item-wrapper {
	margin: 0;
	transition: transform 0.3s ease;
}

button:not(.inactive):not(.current):hover,
.slide:hover,
.header-logo:hover {
	transform: scale(1.2);
	cursor: url(../images/icons/hover-cursor.svg), pointer;
	box-shadow: 0 4px 4px 0 var(--color-dark-3xl);
}

button:hover:not(.inactive):not(.current):not(.slder-navigation-button), .credit-card:hover {
	background: var(--color-primary-light);
	border-color: var(--color-primary-light);
}

button.slder-navigation-button.next:hover, button.slder-navigation-button.prev:hover{
	background-color: var(--color-primary-light);
	border-color: var(--color-primary-light);
}

div.slide:hover {
	background: var(--color-light-xl);
}	

.footer-content-block .footer-content-block-item-wrapper:hover {
	transform: scale(1.2);
	text-decoration: underline;
	text-decoration-color: var(--color-primary);
}

div.start-screen-text-content button.make-friend-button:hover {
	box-shadow: 0 4px 4px 0 var(--color-light-xl);
}

.header-logo:hover {
	box-shadow: none;
}

button:not(.inactive):not(.current):not(.active):hover {
	text-decoration: underline;
}

/* Header */
.header-wrapper {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

.header {
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	padding-top: 30px;
}

h1 {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 32px;
	line-height: 110%;
	letter-spacing: 0.06em;
	color: var(--color-primary);
	text-align: left;
}

.header-logo {
	height: 60px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

.header-subtitle {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 13px;
	letter-spacing: 0.1em;
	color: var(--color-light-xl);
	line-height: 15px;
	text-align: left;
}

.header-nav {
	width: 443px;
	height: 27px;
}

.header-nav ul {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

.header-nav li {
	list-style-type: none;
}

.header-nav li:hover {
	border-bottom: 3px solid var(--color-primary);
	transition: 0.5s;
}

.header-nav li a {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: var(--color-dark-s);
	letter-spacing: 0px;
	text-align: left;
	text-decoration: none;
}

.header-nav li.active-tab a {
	color: var(--color-light-s);
}

.active-tab {
	border-bottom: 3px solid var(--color-primary);
}

/* Start screen */
.start-screen-wrapper {
	background: url(../images/backgrounds/start-screen-gradient-background.png);
	background-size: cover;
}

.start-screen-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.start-screen {
	height: 908px;
	/* background: url("../images/backgrounds/start-screen-gradient-background.png"); */
	align-content: end;
}

.make-friend-button {
	width: 208px;
	height: 52px;
}

.start-screen-puppy {
	width: 698px;
	height: 728px;
}

.start-screen-text-content {
	width: 460px;
	height: 322px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding-bottom: 78px;
}

.start-screen-text-content h2 {
	width: 310px;
	color: var(--color-light-xl);
	font-family: var(--font-family);
	font-size: 44px;
	font-weight: 400;
	line-height: 130%;
	letter-spacing: 0%;
	text-align: left;
}

.start-screen-text-content p {
	color: var(--color-dark-s);
	font-family: var(--second-family);
	font-size: 15px;
	font-weight: 400;
	line-height: 160%;
	letter-spacing: 0%;
	text-align: left;
}

/* About */

.about-wrapper {
	background: var(--color-light-xl);
}

.about {
	height: 588px;
}

.about-content {
	padding-top: 80px;
}

.about-content-1 {
	max-width: 850px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}

.about-content-text {
	max-width: 430px;
	height: 380px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

.about-content-text h3 {
	max-width: 370px;
	height: 90px;
	text-align: left;
}

.about-content-text p {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: var(--color-dark-xl);
	letter-spacing: 0px;
	text-align: left;
}

/* Pets */

.pets-main-wrapper {
	background: var(--color-light-l);
}

.pets-main {
	padding-bottom: 100px;
}

.pets-content-main {
	padding-top: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 697px;
	justify-content: space-between;
}

.pets-content-main h3 {
	width: 400px;
	height: 90px;
}

.slider-content {
	width: 990px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.slder-navigation-button {
	border-radius: 100px;
	border: 2px solid var(--color-primary);
	width: 52px;
	height: 52px;
}

.prev {
	background: url(../images/icons/arrow-left.svg) no-repeat center var(--color-light-s);
}

.next {
	background: url(../images/icons/arrow-right.svg) no-repeat center var(--color-light-s);
}

.pets-main-slider {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.slide {
	width: 270px;
	height: 435px;
	background: var(--color-light-s);
	border-radius: 9px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.slide-image {
	width: 270px;
	height: 270px;
	border-radius: 9px 9px 0px 0px;
}

.pet-name {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 0.06em;
	text-align: center;
	color: var(--color-dark-l);
}

.button-secondary {
	width: 187px;
	height: 52px;
	margin-bottom: 30px;
	border: 2px solid var(--color-primary);
	border-radius: 100px;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 17px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: var(--color-dark-3xl);
	background: var(--color-light-s);
}

/* Help */

.help-wrapper {
	background: var(--color-light-xl);
}

.help-content {
	padding-top: 80px;
}

.help-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 55px 120px;
	justify-content: center;
	padding-top: 60px;
	padding-bottom: 100px;
}

.help-list-item {
	height: 113px;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.help-list-item-image {
	height: 60px;
	width: 60px;
}

h4.help-name {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	text-align: center;
	color: var(--color-dark-l);
	white-space: nowrap;
}

.help-1 {
	background: url(../images/icons/icon-pet-food.svg) no-repeat center;
}

.help-2 {
	background: url(../images/icons/icon-transportation.svg) no-repeat center;
}

.help-3 {
	background: url(../images/icons/icon-toys.svg) no-repeat center;
}

.help-4 {
	background: url(../images/icons/icon-bowls-and-cups.svg) no-repeat center;
}

.help-5 {
	background: url(../images/icons/icon-shampoos.svg) no-repeat center;
}

.help-6 {
	background: url(../images/icons/icon-vitamins.svg) no-repeat center;
}

.help-7 {
	background: url(../images/icons/icon-medicines.svg) no-repeat center;
}

.help-8 {
	background: url(../images/icons/icon-collars-leashes.svg) no-repeat center;
}

.help-9 {
	background: url(../images/icons/icon-sleeping-area.svg) no-repeat center;
}

/* Donation */

.donation-wrapper {
	background: var(--color-light-l);
}

.donation {
	display: flex;
	justify-content: center;
}

.donation-content {
	max-width: 915px;
	flex: auto;
	height: 282px;
	padding-top: 80px;
	padding-bottom: 100px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.donation-dog {
	width: 505px;
	height: 261px;
}

.donation-content-text {
	max-width: 380px;
	height: 282px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.donation-content-text h3 {
	text-wrap: balance;
	text-align: left;
}

.donation-content-text h5 {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 15px;
	line-height: 110%;
	letter-spacing: 0.06em;
	color: var(--color-dark-l);
}

.credit-card {
	border-radius: 9px;
	width: 349px;
	height: 43px;
	background: var(--color-primary);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.credit-card-content {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.credit-card-image {
	width: 30px;
	height: 23px;
	background: url("../images/icons/credit-card.svg") no-repeat center;
}

.credit-card-number {
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: var(--color-dark-l);
	font-family: var(--font-family);
}

.legal-info {
	font-family: var(--second-family);
	font-style: italic;
	font-weight: 400;
	font-size: 12px;
	line-height: 150%;
	color: var(--color-dark-m);
}

/* Footer */
.footer-wrapper {
	background: url(../images/backgrounds/footer-gradient-background.png);
	background-size: cover;
}

.footer {
	height: 350px;
}

.contacts {
	width: 279px;
	height: 234px;
}

.locations {
	width: 302px;
	height: 234px;
}

.footer-content {
	padding-top: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer-content-block {
	height: 234px;
	padding-top: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

h3.footer-content-header {
	font-family: var(--font-family);
	text-align: left;
	color: var(--color-light-xl);
}

.footer-content-block span {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: var(--color-primary);
	padding-left: 20px;
}

.footer-content-block-item-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
}