.pets {
	width: 1200px;
	height: 1342px;
}

h1 {
	font-family: "Georgia", sans-serif;
	font-weight: 400;
	font-size: 32px;
	line-height: 110%;
	letter-spacing: 0.06em;
	color: rgb(84, 84, 84);
}

.header-subtitle {
	font-family: "Arial", sans-serif;
	font-weight: 400;
	font-size: 13px;
	letter-spacing: 0.1em;
	color: rgb(41, 41, 41);
}

.header-nav li a {
	font-family: Arial, sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: rgb(84, 84, 84);
	letter-spacing: 0px;
	text-align: left;
	text-decoration: none;
}