.content-wrapper {
	max-width: 1280px;
	margin: 0 auto;
}

section,
footer {
	padding-right: 40px;
	padding-left: 40px;
}

.button-primary {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 15px 45px;
	border-radius: 100px;
	border-width: 0px;
	background: rgb(241, 205, 179);
}

.button-primary {
	color: rgb(41, 41, 41);
	font-family: Georgia, sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 130%;
	letter-spacing: 0.06em;
	text-align: left;
}

h3 {
	font-family: Georgia, serif;
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: rgb(84, 84, 84);
	text-align: center;
}

/* Header */
.header-wrapper {
	position: relative;
    margin-right: 40px;
    margin-left: 40px;
}

.header {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding-top: 30px;
}

h1 {
	font-family: Georgia, serif;
	font-weight: 400;
	font-size: 32px;
	line-height: 110%;
	letter-spacing: 0.06em;
	color: rgb(241, 205, 179);
	text-align: left;
}

.header-logo {
	height: 60px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

.header-subtitle {
	font-family: Arial, sans-serif;
	font-weight: 400;
	font-size: 13px;
	letter-spacing: 0.1em;
	color: rgb(255, 255, 255);
	line-height: 15px;
	text-align: left;
}

.header-nav {
	width: 443px;
	height: 27px;
}

.header-nav ul {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

.header-nav li {
	list-style-type: none;
}

.header-nav li a {
	font-family: Arial, sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: rgb(205, 205, 205);
	letter-spacing: 0px;
	text-align: left;
	text-decoration: none;
}

.active-tab {
	border-bottom: 3px solid rgb(241, 205, 179);
}

/* Start screen */
.start-screen-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.start-screen {
	height: 908px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	background: url("../images/main/start-screen-gradient-background.jpg");
	align-content: end;
}

.make-friend-button {
	width: 208px;
	height: 52px;
}

.start-screen-puppy {
	width: 698px;
	height: 728px;
}

.start-screen-text-content {
	width: 460px;
	height: 322px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding-bottom: 78px;
}

.start-screen-text-content h2 {
	width: 310px;
	color: rgb(255, 255, 255);
	font-family: Georgia;
	font-size: 44px;
	font-weight: 400;
	line-height: 130%;
	letter-spacing: 0%;
	text-align: left;
}

.start-screen-text-content p {
	color: rgb(205, 205, 205);
	font-family: Arial;
	font-size: 15px;
	font-weight: 400;
	line-height: 160%;
	letter-spacing: 0%;
	text-align: left;
}

/* About */

.about {
	height: 588px;
	background: rgb(255, 255, 255);
}

.about-content {
	padding-top: 80px;
}

.about-content-1 {
	width: 850px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}

.about-content-text {
	max-width: 430px;
	height: 380px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

.about-content-text h3 {
	width: 370px;
	height: 90px;
	text-align: left;
}

.about-content-text p {
	font-family: Arial, sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: rgb(76, 76, 76);
	letter-spacing: 0px;
	text-align: left;
}

/* Pets */
.pets {
	height: 877px;
	background: rgb(246, 246, 246);
}

.pets-content {
	padding-top: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 697px;
	justify-content: space-between;
}

.pets-content h3 {
	width: 400px;
	height: 90px;
	text-align: center;
}

.slider-content {
	width: 990px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.prev {
	border-radius: 100px;
	border: 2px solid rgb(241, 205, 179);
	background: url(../images/main/arrow.svg) no-repeat center;
	width: 52px;
	height: 52px;
}

.next {
	transform: rotate(180.00deg);
}

.pets-slider {
	height: 435px;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.slide {
	width: 270px;
	height: 435px;
	background: rgb(250, 250, 250);
	border-radius: 9px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.slide-image {
	width: 270px;
	height: 270px;
	border-radius: 9px 9px 0px 0px;
}

.pet-name {
	font-family: Georgia, serif;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 0.06em;
	text-align: center;
	color: rgb(84, 84, 84);
}

.button-secondary {
	width: 187px;
	height: 52px;
	margin-bottom: 30px;
	border: 2px solid rgb(241, 205, 179);
	border-radius: 100px;
	font-family: "Georgia", sans-serif;
	font-weight: 400;
	font-size: 17px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: rgb(41, 41, 41);
}

/* Help */

.help {
	background: rgb(255, 255, 255);
}

.help-content {
	padding-top: 80px;
}

.help-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 55px 120px;
	justify-content: center;
	padding-top: 60px;
	padding-bottom: 100px;
}

.help-list-item {
	height: 113px;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.help-list-item-image {
	height: 60px;
	width: 60px;
}

h4.help-name {
	font-family: "Georgia", sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	text-align: center;
	color: rgb(84, 84, 84);
	white-space: nowrap;
}

.help-1 {
	background: url(../images/main/icon-pet-food.svg) no-repeat center;
}

.help-2 {
	background: url(../images/main/icon-transportation.svg) no-repeat center;
}

.help-3 {
	background: url(../images/main/icon-toys.svg) no-repeat center;
}

.help-4 {
	background: url(../images/main/icon-bowls-and-cups.svg) no-repeat center;
}

.help-5 {
	background: url(../images/main/icon-shampoos.svg) no-repeat center;
}

.help-6 {
	background: url(../images/main/icon-vitamins.svg) no-repeat center;
}

.help-7 {
	background: url(../images/main/icon-medicines.svg) no-repeat center;
}

.help-8 {
	background: url(../images/main/icon-collars-leashes.svg) no-repeat center;
}

.help-9 {
	background: url(../images/main/icon-sleeping-area.svg) no-repeat center;
}

/* Donation */
.donation {
	background: rgb(246, 246, 246);
	display: flex;
	justify-content: center;
}

.donation-content {
	max-width: 915px;
	flex: auto;
	height: 282px;
	padding-top: 80px;
	padding-bottom: 100px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.donation-dog {
	width: 505px;
	height: 261px;
}

.donation-content-text {
	max-width: 380px;
	height: 282px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.donation-content-text h3 {
	text-wrap: balance;
	text-align: left;

}

.donation-content-text h5 {
	font-family: Georgia, serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 110%;
	letter-spacing: 0.06em;
	color: rgb(84, 84, 84);
}

.credit-card {
	border-radius: 9px;
	width: 349px;
	height: 43px;
	background: rgb(241, 205, 179);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.credit-card-content {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.credit-card-image {
	width: 30px;
	height: 23px;
	background: url("../images/main/credit-card.svg") no-repeat center;
}

.credit-card-number {
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: rgb(84, 84, 84);
	font-family: Georgia, serif;
}

.legal-info {
	font-family: Arial, sans-serif;
	font-style: italic;
	font-weight: 400;
	font-size: 12px;
	line-height: 150%;
	color: rgb(178, 178, 178);
}

/* Footer */
.footer {
	height: 350px;
	background: url("../images/main/footer-gradient-background.png");
}

.contacts {
	width: 279px;
	height: 234px;
}

.locations {
	width: 302px;
	height: 234px;
}

.footer-content {
	padding-top: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer-content-block {
	height: 234px;
	padding-top: 16px;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h3.footer-content-header {
	font-family: "Georgia", sans-serif;
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: rgb(255, 255, 255);
	text-align: left;
}

.footer-content-block span {
	font-family: "Georgia", sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: rgb(241, 205, 179);
	padding-left: 20px;
}

.footer-content-block-item-wrapper {
	display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}